/*
 * Group members:
 * Tam King Man 1155160072
 * Tsang Ho Yin 1155159307
 * Ng Yuk Fung 1155176966
 * Leung Ka Lun 1155157403
 * O Ching Lam 1155159131
 */
 
#userTable {
  border-collapse: collapse;
  width: 100%;
}

#userTable th,
#userTable td {
  text-align: left;
  font-weight: normal;
  padding-left: 30px;
  padding: 15px;
}

#userTable th {
  font-family: Brandon Grotesque;
  font-size: 24px;
  padding-bottom: 5px;
}

#userTable td {
  font-family: Assistant Light;
  font-size: 20px;
}

#actionButtons {
  display: flex;
}

#actionButtons button {
  font-family: Brandon Grotesque;
  font-size: 20px;
  background-color: transparent;
  margin-right: 40px;
  border-radius: 12px;
  border: 1px solid;
}

#deleteButton {
  color: red;
  border-color: red;
  border-style: solid;
}

#viewButton:hover {
  background-color: black;
  color: white;
}

#deleteButton:hover {
  background-color: red;
  color: white;
}

#userProfile {
  width: 540px;
  height: 600px;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}