/*
 * Group members:
 * Tam King Man 1155160072
 * Tsang Ho Yin 1155159307
 * Ng Yuk Fung 1155176966
 * Leung Ka Lun 1155157403
 * O Ching Lam 1155159131
 */

#postTable {
  border-collapse: collapse;
  width: 100%;
}

#postTable th,
#postTable td {
  text-align: left;
  font-weight: normal;
  padding-left: 30px;
  padding: 15px;
}

#postTable th {
  font-family: Brandon Grotesque;
  font-size: 24px;
  padding-bottom: 5px;
}

#postTable td {
  font-family: Assistant Light;
  font-size: 20px;
}

#content {
  max-height: 80px;
  overflow: auto;
}

#postButton button {
  background-color: transparent;
  border: 0px;
  padding: 4px;
}
