/*
 * Group members:
 * Tam King Man 1155160072
 * Tsang Ho Yin 1155159307
 * Ng Yuk Fung 1155176966
 * Leung Ka Lun 1155157403
 * O Ching Lam 1155159131
 */

#headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 20%;
  position: absolute;
  width: 1000px;
  height: 180px;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  -webkit-user-select: none;
  user-select: none;
}

#headerContainer h5 {
  margin: 0%;
}

#leftHeader {
  margin-bottom: 20px;
}

.sideBarButton {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-left: 0px;
  border-radius: 30px;
  border: 2px hidden #1d67cd;
  width: 180px;
  margin: 20px;
  margin-left: 0px;
}

.sideBarButton p {
  margin: 0px;
}

.sideBarButton:hover {
  border: 2px solid #1d67cd;
  border-radius: 30px;
  padding: 8px;
}

.sideBarButton:hover p {
  font-weight: bold;
}

.sideBarButton:active {
  background-color: #caeeff;
}

#crossButton {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}