/*
 * Group members:
 * Tam King Man 1155160072
 * Tsang Ho Yin 1155159307
 * Ng Yuk Fung 1155176966
 * Leung Ka Lun 1155157403
 * O Ching Lam 1155159131
 */



 .forget-password-form {
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(219, 212, 237);
    border: 2px solid grey;
  }
  
  .forget-password-form label {
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  
  .forget-password-form input {
    width: 92%;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 5px;
  }
  
  .forget-password-form button {
    padding: 10px 20px;
    background-color: #007bff;
    margin: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .forget-password-form button:hover {
    background-color: #0056b3;
  }
  
  .Link {
    color: blue;
    margin-top: 5px;
    margin-left: 40%;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  .Link:hover {
    color: red;
  }
  