/*
 * Group members:
 * Tam King Man 1155160072
 * Tsang Ho Yin 1155159307
 * Ng Yuk Fung 1155176966
 * Leung Ka Lun 1155157403
 * O Ching Lam 1155159131
 */


 .forget-password-form {
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .forget-password-form label {
    font-family: Brandon Grotesque;
    font-size: 20px;
    font-weight: bold;
    ;
  }
  
  .forget-password-form input {
    width: 100%;
    padding: 10px;
    font-family: Assistant Light;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .forget-password-form button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    font-family: Assistant Light;
    font-size: 20px;
    border-radius: 40px;
    border: 2px solid #0056b3;
    background-color: white;
    color: #0056b3;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .forget-password-form button:hover {
    background-color: #0056b3;
    color: white;
  }
  
  .Link {
    color: #0056b3;
    margin-left: 40%;
  }

  .Link:hover {
    color: red;
  }
  