/*
 * Group members:
 * Tam King Man 1155160072
 * Tsang Ho Yin 1155159307
 * Ng Yuk Fung 1155176966
 * Leung Ka Lun 1155157403
 * O Ching Lam 1155159131
 */

/* template of formatting
<name> {
    font-family:    ;
    font-size:      ;
    color:          ;
} 

 */

/* Styles for Heading */
h1 {
    font-family:  Arial, sans-serif;
    font-size: 40px;
    color: black;
}

/* Styles for Paragraphs */
p1 {
    font-family:  Arial, sans-serif;
    font-size: 16px;
    color: black;
}