/*
 * Group members:
 * Tam King Man 1155160072
 * Tsang Ho Yin 1155159307
 * Ng Yuk Fung 1155176966
 * Leung Ka Lun 1155157403
 * O Ching Lam 1155159131
 */


 .container {
    display: flex;
    height: 100vh;
    background-color:rgb(219, 212, 237); 
    padding: 20px; 
    justify-content: center;
    align-items: center;
}

.left-side {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-right: 10px; 
}

/* Additional styling for elements */
.left-side img {
    width: 300px;
    align-self: flex-start;
}


.left-side h3,
.left-side p {
    align-items: center;
    margin: 0; 
}

.right-side {
    display: flex;
    flex-direction: column; 
}

.form-box {
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 20px; 
    margin-bottom: 20px; 
}

.forgot-password {
    text-align: left;
    ;
}
.submit-btn, .register-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.submit-btn:hover, .register-btn:hover {
    background-color: #0056b3;
}