/*
 * Group members:
 * Tam King Man 1155160072
 * Tsang Ho Yin 1155159307
 * Ng Yuk Fung 1155176966
 * Leung Ka Lun 1155157403
 * O Ching Lam 1155159131
 */
 
.form-box {
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px; /* Adjusted */
    background-color: white;
}

.centered-text {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.blue-text {
    color: blue;
}

input[type="text"],
input[type="password"] {
    width: 90%; /* Make input fields span the whole width */
    padding: 10px;
    margin: 5px 0 10px; /* Adjusted margin */
}

.forgot-password {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    margin-bottom: 10px; /* Added */
    transition: color 0.3s; /* Added */
}

.forgot-password:hover {
    color: blue;
}

.submit,
.register-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.02s ease-out, color 0.02s ease-out;
    transition-delay: 0.01s;
}

.submit:hover,
.register-btn:hover {
    background-color: #555;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}
