/*
 * Group members:
 * Tam King Man 1155160072
 * Tsang Ho Yin 1155159307
 * Ng Yuk Fung 1155176966
 * Leung Ka Lun 1155157403
 * O Ching Lam 1155159131
 */

 body {
    margin: 0;
    padding: 0;
    background-color: #f0e6f4; /* light purple background */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 20px;
}

.left-column {
    flex: 1;
    text-align: center;
}

.right-column {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin:0 auto;
}

.centered-test{
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
    background-color: #ffffff; /* white background for login form */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.forgot-password {
    text-align: left;
    margin-bottom: 20px;
}

.register-btn {
    width: 100%;
    padding: 10px;
    background-color: #4caf50; /* green button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-btn:hover {
    background-color: #45a049; /* darker shade of green on hover */
}

.line {
    margin: 20px 0;
    border-top: 1px solid #ccc;
}