#notificationTable {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.notificationName {
    width: 20%;
}

.notificationContent {
   width: 55%; 
}


.acceptFollow, .rejectFollow {

    font-family: Assistant Light;
    font-size: 16px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
}

.acceptFollow {
    color: #1d67cd;
    background-color: white;
    border: 2px solid #1d67cd;
}

.rejectFollow {
    color: red;
    background-color: white;
    border: 2px solid red;
}

.acceptFollow:hover, .rejectFollow:hover {
    color: white;
}

.acceptFollow:hover {
    background-color: #1d67cd;
}

.rejectFollow:hover {
    background-color: red;
}
