/*
 * Group members:
 * Tam King Man 1155160072
 * Tsang Ho Yin 1155159307
 * Ng Yuk Fung 1155176966
 * Leung Ka Lun 1155157403
 * O Ching Lam 1155159131
 */
 
 .RegistrationForm {
    color: white;
}

.h2 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: center;
}

.text-danger {
    color: red;
}

.text-success {
    color: blueviolet;
}

.btn-primary {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.02s ease-out, color 0.02s ease-out;
    transition-delay: 0.01s;
}

.btn-primary:hover {
    background-color: #555;
}

.addpostbutton {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-left: 50px;
}

.newpostdescription {
    margin-left: 50px;
}

#thought {
    width: 530px;
}

#fileUpload {
    justify-content: right;
    margin-left: 50px;
}
