/*
 * Group members:
 * Tam King Man 1155160072
 * Tsang Ho Yin 1155159307
 * Ng Yuk Fung 1155176966
 * Leung Ka Lun 1155157403
 * O Ching Lam 1155159131
 */
 
 .RegisterForm {
    padding: 20px;
 }
 
.RegisterForm h2 {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#registrationForm div label {
    font-family: Brandon Grotesque;
}
#registrationForm div{
    display: flex;
    flex-direction: column;
}
#registrationForm div input{
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Assistant Light;
    border: 1px solid #ccc;

}
.text-danger {
    color: red;
}

.text-success {
    color: blueviolet;
}

.btn-primary {
    color: #1d67cd;
    font-family: Assistant Light;
    font-size: 16px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    width: 20%;
    background-color: white;
    border: 2px solid #1d67cd;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
