/*
 * Group members:
 * Tam King Man 1155160072
 * Tsang Ho Yin 1155159307
 * Ng Yuk Fung 1155176966
 * Leung Ka Lun 1155157403
 * O Ching Lam 1155159131
 */

 .post-container {
    margin-bottom: 1%;
    padding-bottom: 1%;
}

.post-subcontainer {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

 .post-header {
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    font-size: larger;
 }

 .post-username {
    font-family: Brandon Grotesque;
    font-weight: bold;
    color: rgb(72, 73, 74);
 }

 .post-time {
    margin-left: 10px;
 }

 .post-description {
    margin-top: 5px;
    margin-left: 5%;
 }

 .read-more {
    margin-left: 5%;
    margin-bottom: 5%;
 }

 .interaction-buttons {
    margin-left: 5%;
 }

 .like-button,
 .comment-button {
    border: none; 
    background: none; 
    padding: 5px; 
  }

  .comments {
    margin-left: 5%;
    margin-top: 2%;
  }

  .comments .comment-text{
    margin-left: 2%;
  }

  .view-all-comments {
    margin-left: 5%;
  }
